<a href="https://colab.research.google.com/github/flinkflora17/ML_kurzus/blob/main/masodikalkalom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Szívbetegség klasszifikálás

In [1]:
file_url = "http://storage.googleapis.com/download.tensorflow.org/data/heart.csv"

In [25]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [3]:
dataframe = pd.read_csv(file_url)

In [4]:
dataframe.shape

(303, 14)

In [5]:
dataframe.head()

   age  sex  cp  trestbps  chol  ...  oldpeak  slope  ca        thal  target
0   63    1   1       145   233  ...      2.3      3   0       fixed       0
1   67    1   4       160   286  ...      1.5      2   3      normal       1
2   67    1   4       120   229  ...      2.6      2   2  reversible       0
3   37    1   3       130   250  ...      3.5      3   0      normal       0
4   41    0   2       130   204  ...      1.4      1   0      normal       0

[5 rows x 14 columns]

In [7]:
dataframe.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [10]:
labeler = LabelEncoder()

In [11]:
labeler.fit(dataframe.thal)

LabelEncoder()

In [13]:
dataframe.thal = labeler.transform(dataframe.thal)

In [14]:
# egy lépésben: 
# dataframe.thal = labeler.fit_transform(...)

In [15]:
dataframe.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   1       145   233    1  ...      0      2.3      3   0     2       0
1   67    1   4       160   286    0  ...      1      1.5      2   3     3       1
2   67    1   4       120   229    0  ...      1      2.6      2   2     4       0
3   37    1   3       130   250    0  ...      0      3.5      3   0     3       0
4   41    0   2       130   204    0  ...      0      1.4      1   0     3       0

[5 rows x 14 columns]

In [16]:
y_df = dataframe.target

In [17]:
y_df.head()

0    0
1    1
2    0
3    0
4    0
Name: target, dtype: int64

In [18]:
# töröljük az utsó oszlopot
x_df = dataframe.copy().drop('target', axis = 1)

In [19]:
x_df.head()

   age  sex  cp  trestbps  chol  fbs  ...  thalach  exang  oldpeak  slope  ca  thal
0   63    1   1       145   233    1  ...      150      0      2.3      3   0     2
1   67    1   4       160   286    0  ...      108      1      1.5      2   3     3
2   67    1   4       120   229    0  ...      129      1      2.6      2   2     4
3   37    1   3       130   250    0  ...      187      0      3.5      3   0     3
4   41    0   2       130   204    0  ...      172      0      1.4      1   0     3

[5 rows x 13 columns]

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, test_size = 0.1, shuffle = True)

In [23]:
x_train.shape

(272, 13)

In [24]:
x_test.shape

(31, 13)

## Adat normalizálás

In [30]:
normalizer = StandardScaler()

In [31]:
normalizer.fit(x_train)
#itt most csak "megtanulta", hogy mennyi a várható érték és a szórás

StandardScaler()

In [32]:
x_train = normalizer.transform(x_train)
# itt alkalmazzuk

In [34]:
x_train
pd.DataFrame(x_train)

           0         1         2   ...        10        11        12
0    0.262796  0.697380  0.894656  ...  0.638707  0.374104  1.163873
1   -0.067622  0.697380 -1.044359  ... -0.969888  0.374104  1.163873
2   -1.609574  0.697380  0.894656  ... -0.969888 -0.720049  1.163873
3    0.483075  0.697380 -2.013867  ...  0.638707 -0.720049  1.163873
4   -1.169016  0.697380  0.894656  ...  2.247301 -0.720049 -2.083035
..        ...       ...       ...  ...       ...       ...       ...
267 -0.728459  0.697380  0.894656  ...  0.638707 -0.720049  1.163873
268 -0.728459  0.697380 -1.044359  ...  0.638707 -0.720049 -0.459581
269 -0.067622 -1.433939 -0.074852  ... -0.969888  0.374104 -0.459581
270  1.364190  0.697380  0.894656  ...  0.638707  1.468257  1.163873
271  1.254051 -1.433939 -2.013867  ...  2.247301 -0.720049 -0.459581

[272 rows x 13 columns]

In [38]:
x_test = normalizer.transform(x_test)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [37]:
# normalizer = StandardScaler()
# x_train = normalizer.fit_transform(x_train)
# x_test = normalizer.transform(x_test)